root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.lua]
align_array_table = false
align_continuous_assign_statement = false
align_continuous_inline_comment = false
align_continuous_rect_table_field = false
align_if_branch = false
quote_style = double
trailing_table_separator = smart
