<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIFeatureFunctionCalling</key>
	<true/>
	<key>AIFeatureHostedCodeInterpeter</key>
	<true/>
	<key>AIFeatureHostedFileSearch</key>
	<true/>
	<key>AIFeatureHostedWebSearch</key>
	<true/>
	<key>AIFeatureStreamingResponses</key>
	<true/>
	<key>AITermAPI</key>
	<integer>2</integer>
	<key>AIVectorStore</key>
	<integer>0</integer>
	<key>AdjustWindowForFontSizeChange</key>
	<false/>
	<key>AiMaxTokens</key>
	<integer>400000</integer>
	<key>AiModel</key>
	<string>gpt-5.2</string>
	<key>AiResponseMaxTokens</key>
	<integer>128000</integer>
	<key>AitermURL</key>
	<string>https://api.openai.com/v1/responses</string>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AutoHideTmuxClientSession</key>
	<true/>
	<key>ClickToSelectCommand</key>
	<false/>
	<key>ClosingTmuxWindowKillsTmuxWindows</key>
	<true/>
	<key>ClosingTmuxWindowKillsTmuxWindows_selection</key>
	<integer>1</integer>
	<key>CopySelection</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Kanagawa Wave</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.094117648899555206</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.023529412224888802</real>
				<key>Red Component</key>
				<real>0.035294119268655777</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.26274511218070984</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.25098040699958801</real>
				<key>Red Component</key>
				<real>0.76470589637756348</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.42352941632270813</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.59607845544815063</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.51764708757400513</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.76470589637756348</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7921568751335144</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.70588237047195435</real>
				<key>Red Component</key>
				<real>0.49803921580314636</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66274511814117432</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54117649793624878</real>
				<key>Red Component</key>
				<real>0.57647061347961426</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.62352943420410156</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.65882354974746704</real>
				<key>Red Component</key>
				<real>0.47843137383460999</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.729411780834198</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84313726425170898</real>
				<key>Red Component</key>
				<real>0.86274510622024536</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41568627953529358</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039218187332153</real>
				<key>Red Component</key>
				<real>0.46274510025978088</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.43137255311012268</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63921570777893066</real>
				<key>Red Component</key>
				<real>0.75294119119644165</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84705883264541626</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61176472902297974</real>
				<key>Red Component</key>
				<real>0.49411764740943909</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.72156864404678345</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.49803921580314636</real>
				<key>Red Component</key>
				<real>0.58431375026702881</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.5372549295425415</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58431375026702881</real>
				<key>Red Component</key>
				<real>0.41568627953529358</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57647061347961426</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.78431373834609985</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.4117647111415863</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44313725829124451</real>
				<key>Red Component</key>
				<real>0.44705882668495178</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.14117647707462311</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14117647707462311</real>
				<key>Red Component</key>
				<real>0.90980392694473267</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.15686275064945221</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.12156862765550613</real>
				<key>Red Component</key>
				<real>0.12156862765550613</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.93333333730697632</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.93333333730697632</real>
				<key>Red Component</key>
				<real>0.93333333730697632</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57647061347961426</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.78431373834609985</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18431372940540314</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.12549020349979401</real>
				<key>Red Component</key>
				<real>0.11372549086809158</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.729411780834198</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84313726425170898</real>
				<key>Red Component</key>
				<real>0.86274510622024536</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73725491762161255</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.65490198135375977</real>
				<key>Red Component</key>
				<real>0.44705882668495178</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57647061347961426</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.78431373834609985</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40392157435417175</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.30980393290519714</real>
				<key>Red Component</key>
				<real>0.17647059261798859</real>
			</dict>
			<key>Tab Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40392157435417175</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.30980393290519714</real>
				<key>Red Component</key>
				<real>0.17647059261798859</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>EF2E8C33-0DCF-42EC-8DA0-D4574F48534A</string>
	<key>DimInactiveSplitPanes</key>
	<false/>
	<key>DisableTmuxWindowPositionRestoration</key>
	<true/>
	<key>DoubleClickPerformsSmartSelection</key>
	<true/>
	<key>EnableCharacterAccentMenu</key>
	<false/>
	<key>EnableDivisionView</key>
	<false/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x7f-0x100000-0x33</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string>0x15</string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x280000-0x7e</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>1</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf700-0x300000-0x7e</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf700-0x380000-0x7e</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>1</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf701-0x280000-0x7d</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>1</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf701-0x300000-0x7d</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>1</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf701-0x380000-0x7d</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>1</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf702-0x300000-0x7b</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string>0x1</string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x300000-0x7c</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string>0x5</string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>AWDS Pane Directory</key>
			<string></string>
			<key>AWDS Pane Option</key>
			<string>Recycle</string>
			<key>AWDS Tab Directory</key>
			<string></string>
			<key>AWDS Tab Option</key>
			<string>Recycle</string>
			<key>AWDS Window Directory</key>
			<string></string>
			<key>AWDS Window Option</key>
			<string>No</string>
			<key>Allow Alternate Mouse Scroll</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.094117648899555206</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.023529412224888802</real>
				<key>Red Component</key>
				<real>0.035294119268655777</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.26274511218070984</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.25098040699958801</real>
				<key>Red Component</key>
				<real>0.76470589637756348</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.42352941632270813</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.59607845544815063</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.51764708757400513</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.76470589637756348</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7921568751335144</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.70588237047195435</real>
				<key>Red Component</key>
				<real>0.49803921580314636</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66274511814117432</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54117649793624878</real>
				<key>Red Component</key>
				<real>0.57647061347961426</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.62352943420410156</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.65882354974746704</real>
				<key>Red Component</key>
				<real>0.47843137383460999</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.729411780834198</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84313726425170898</real>
				<key>Red Component</key>
				<real>0.86274510622024536</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41568627953529358</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039218187332153</real>
				<key>Red Component</key>
				<real>0.46274510025978088</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.43137255311012268</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63921570777893066</real>
				<key>Red Component</key>
				<real>0.75294119119644165</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84705883264541626</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61176472902297974</real>
				<key>Red Component</key>
				<real>0.49411764740943909</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.72156864404678345</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.49803921580314636</real>
				<key>Red Component</key>
				<real>0.58431375026702881</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.5372549295425415</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58431375026702881</real>
				<key>Red Component</key>
				<real>0.41568627953529358</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57647061347961426</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.78431373834609985</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.4117647111415863</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44313725829124451</real>
				<key>Red Component</key>
				<real>0.44705882668495178</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.14117647707462311</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14117647707462311</real>
				<key>Red Component</key>
				<real>0.90980392694473267</real>
			</dict>
			<key>Automatically Enable Alternate Mouse Scroll</key>
			<true/>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.11563097685575485</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.09284672886133194</real>
				<key>Red Component</key>
				<real>0.092848531901836395</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.11610633134841919</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.11610633134841919</real>
				<key>Red Component</key>
				<real>0.74613857269287109</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.93333333730697632</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.93333333730697632</real>
				<key>Red Component</key>
				<real>0.93333333730697632</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>100</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57647061347961426</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.78431373834609985</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18431372940540314</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.12549020349979401</real>
				<key>Red Component</key>
				<real>0.11372549086809158</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Advanced</string>
			<key>Custom Window Title</key>
			<string>iTerm</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.729411780834198</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84313726425170898</real>
				<key>Red Component</key>
				<real>0.86274510622024536</real>
			</dict>
			<key>Guid</key>
			<string>EF2E8C33-0DCF-42EC-8DA0-D4574F48534A</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>0</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.15686274509803921</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.72156862745098038</real>
				<key>Red Component</key>
				<real>0.9882352941176471</real>
			</dict>
			<key>Load Shell Integration Automatically</key>
			<true/>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99607843137254903</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>MesloLGSNF-Regular 12</string>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Restrict Alternate Mouse Scroll to Vertical</key>
			<true/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>33</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Scrollback With Status Bar</key>
			<true/>
			<key>Scrollback in Alternate Screen</key>
			<false/>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.84313725490196079</real>
				<key>Red Component</key>
				<real>0.69803921568627447</real>
			</dict>
			<key>Send Bell Alert</key>
			<true/>
			<key>Send Code When Idle</key>
			<false/>
			<key>Send Terminal Generated Alerts</key>
			<true/>
			<key>Set Local Environment Vars</key>
			<integer>0</integer>
			<key>Shortcut</key>
			<string></string>
			<key>Show Mark Indicators</key>
			<false/>
			<key>Silence Bell</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tab Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.2196078431372549</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25490196078431371</real>
				<key>Red Component</key>
				<real>0.27450980392156865</real>
			</dict>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>parameter</key>
					<string>{p3#ffffffffffff,p3#808080808080}</string>
					<key>partial</key>
					<false/>
					<key>regex</key>
					<string>(?&lt;=\.)DEBUG(?=:)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>parameter</key>
					<string>{p3#ffffffffffff,p3#0000aaaa0000}</string>
					<key>regex</key>
					<string>(?&lt;=\.)INFO(?=:)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>parameter</key>
					<string>{p3#ffffffffffff,p3#0000aaaaaaaa}</string>
					<key>regex</key>
					<string>(?&lt;=\.)NOTICE(?=:)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>parameter</key>
					<string>{p3#ffffffffffff,p3#aaaaaaaa0000}</string>
					<key>regex</key>
					<string>(?&lt;=\.)WARNING(?=:)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>parameter</key>
					<string>{p3#ffffffffffff,p3#aaaa00000000}</string>
					<key>regex</key>
					<string>(?&lt;=\.)ERROR(?=:)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>parameter</key>
					<string>{p3#ffffffffffff,p3#ffff55555555}</string>
					<key>regex</key>
					<string>(?&lt;=\.)CRITICAL(?=:)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>parameter</key>
					<string>{p3#ffffffffffff,p3#aaaa0000aaaa}</string>
					<key>regex</key>
					<string>(?&lt;=\.)ALERT(?=:)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>parameter</key>
					<string>{p3#000000000000,p3#ffffffffffff}</string>
					<key>regex</key>
					<string>(?&lt;=\.)EMERGENCY(?=:)</string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Cursor Guide</key>
			<false/>
			<key>Use Custom Window Title</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Selected Text Color</key>
			<true/>
			<key>Use Separate Colors for Light and Dark Mode</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/sander</string>
		</dict>
	</array>
	<key>OnlyWhenMoreTabs</key>
	<false/>
	<key>OpenTmuxWindowsIn</key>
	<integer>2</integer>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>RememberWindowPositions</key>
	<true/>
	<key>Selection Respects Soft Boundaries</key>
	<false/>
	<key>ShowNewOutputIndicator</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>TabStyleWithAutomaticOption</key>
	<integer>1</integer>
	<key>TmuxUsesDedicatedProfile</key>
	<false/>
	<key>TriggerRadius</key>
	<integer>20</integer>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WindowNumber</key>
	<false/>
	<key>WrapDroppedFilenamesInQuotesWhenPasting</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>7</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
